 
/* Modal */

.modal-content {
    background-color: var(--primary-gray);
}



/* Fonts */

.form-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-green);
}

.form-text {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
}

/* Media Query */

@Media (min-width: 992px) {

    /* Font */

    .form-title {
        font-size: 1.8rem;
    }
    
    .form-text {
        font-size: 1.2rem;
    }

}

@media (min-width: 1200px) {

    /* Font */

    .form-title {
        font-size: 2rem;
    }
    
    .form-text {
        font-size: 1.4rem;
    }

}

